*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Inter;
}

.logo-icon{
    font-size: 40px;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.header{
    display: flex;   
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 15px;
    padding: 25px 0px;
}

.card{
    display: flex;
    width: 50%;
    height: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    padding: 25px;
    box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);  
    background-color: beige;
    gap: 15px;
    border-radius: 15px;
}

.inputs{
    display: flex;
    width: 100%;
    justify-content: left;
    gap: 25px;
}

.input-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group input{
    padding: 15px 0;
    border-radius: 10px;
    border: 1px solid black;
}

.resultado{
    width: 50%;
    height: 20%;
    background-color: beige;
    display: none;
    border-radius: 15px;  
    box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);
    font-size: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

.buttons{
    display: grid;
    width: 100%;
    height: 50%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

button:hover{
    background-color: #87CEEB;
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
    box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);
}

.btn-clear:hover{
    background-color: #ff0000;
}