*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
}

.header{
    display: flex;   
    width: 100%;
    align-items: center;
    gap: 15px;
    padding: 10px;
    box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);    
    background-color: beige;
}

.card{
    display: flex;
    width: 30%;
    height: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);  
    background-color: beige;
    gap: 15px;
    border-radius: 15px;
}

.input-group{
    display: inline;
    margin: 10px 0px;
}

.resultado{
    width: 30%;
    height: 30%;
    background-color: beige;
    display: none;
    border-radius: 15px;  
    box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);
}

.resultado ul{
    width: 50%;
    height: 50%;
    display: block;
    margin: auto auto;
    
    
}

.buttons button{
    cursor: pointer;
}